<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OriginCRUD</title>
    <link type="image/x-icon" rel="shortcut icon" href="/logo.png"/>
    <link rel="stylesheet" href="/node_modules/amis/sdk/sdk.css">
    <link rel="stylesheet" href="/node_modules/amis/sdk/helper.css">
    <link rel="stylesheet" href="/node_modules/amis/sdk/iconfont.css">
    <script src="/node_modules/amis/sdk/sdk.js"></script>
    <script>
        const BASE_URL = 'https://aisuda.bce.baidu.com'
        window.enableAMISDebug = true;
    </script>
</head>

<body>
<div id="root" class="app-wrapper"></div>
</body>

<script type="text/javascript">
    (function () {
        const amis = amisRequire('amis/embed');
        const amisJSON = {
            "type": "crud",
            "style": {
                "boxShadow": " 0px 0px 0px 0px transparent"
            },
            "id": "u:af88d887d8ff",
            "pullRefresh": {
                "disabled": true
            },
            "asideResizor": false,
            "syncLocation": false,
            "columns": [
                {
                    "name": "functionName",
                    "label": "功能点名称",
                    "type": "text",
                    "id": "u:0862b8ffdfd7",
                    "placeholder": "-",
                    "sortable": true
                },
                {
                    "label": "拨测类型",
                    "type": "text",
                    "id": "u:0862b8ffdfd7",
                    "placeholder": "-",
                    "sortable": true,
                    "name": "type"
                },
                {
                    "label": "轮询周期",
                    "type": "text",
                    "id": "u:f7fa6dc6b360",
                    "placeholder": "-",
                    "sortable": true,
                    "name": "cycle"
                },
                {
                    "label": "正常拨测点",
                    "type": "operation",
                    "id": "u:6fef997794d2",
                    "placeholder": "-",
                    "sortable": true,
                    "name": "normalPoint",
                    "buttons": [
                        {
                            "label": "<%= this.normalPoint %>",
                            "type": "button",
                            "level": "link",
                            "id": "u:3ecd43421253",
                            "actionType": "dialog",
                            "dialog": {
                                "title": "正常拨测点",
                                "size": "lg",
                                "actions": [],
                                "body": [
                                    {
                                        "type": "table",
                                        "columns": [
                                            {
                                                "label": "功能点名称",
                                                "name": "functionName",
                                                "type": "text",
                                                "id": "u:1b6907eb0d97",
                                                "placeholder": "-"
                                            },
                                            {
                                                "type": "text",
                                                "label": "所属业务名称",
                                                "name": "bussinessName",
                                                "id": "u:26df0aa4e98e",
                                                "placeholder": "-"
                                            },
                                            {
                                                "type": "text",
                                                "label": "拨测点",
                                                "name": "dialingPoint",
                                                "id": "u:b03d4e199893",
                                                "placeholder": "-"
                                            },
                                            {
                                                "type": "text",
                                                "label": "拨测类型",
                                                "name": "dialingType",
                                                "id": "u:e74c41a53c6e",
                                                "placeholder": "-"
                                            },
                                            {
                                                "type": "text",
                                                "label": "拨测状态",
                                                "name": "dialingState",
                                                "id": "u:30e1597f30f2",
                                                "placeholder": "-",
                                                "classNameExpr": "<%= this.dialingState == '异常' ? 'text-danger' : this.dialingState == '正常'?'text-success' : '' %>"
                                            },
                                            {
                                                "type": "date",
                                                "label": "检测时间",
                                                "name": "dialingTime",
                                                "id": "u:d50ef3a4dc9b",
                                                "placeholder": "-"
                                            }
                                        ],
                                        "id": "u:f514dfb21197",
                                        "data": {
                                            "count": 57,
                                            "items": [
                                                {
                                                    "bussinessName": "医保报销业务",
                                                    "dialingPoint": "内网拨测点1",
                                                    "dialingType": "HTTP",
                                                    "functionName": "HTTP查询",
                                                    "dialingState": "正常",
                                                    "dialingTime": "2023-07-26 12:12:13"
                                                },
                                                {
                                                    "bussinessName": "医保报销业务",
                                                    "dialingPoint": "内网拨测点2",
                                                    "dialingType": "HTTP",
                                                    "functionName": "HTTP查询",
                                                    "dialingState": "正常",
                                                    "dialingTime": "2023-07-26 12:12:13"
                                                },
                                                {
                                                    "bussinessName": "医保报销业务",
                                                    "dialingPoint": "内网拨测点3",
                                                    "dialingType": "TCP",
                                                    "functionName": "HTTP查询",
                                                    "dialingState": "异常",
                                                    "dialingTime": "2023-07-26 12:12:13"
                                                }
                                            ]
                                        },
                                        "hidden": false,
                                        "showHeader": false
                                    }
                                ],
                                "type": "dialog",
                                "id": "u:51c0dc926ea7",
                                "showCloseButton": true,
                                "closeOnEsc": false,
                                "showErrorMsg": true,
                                "showLoading": true,
                                "dataMapSwitch": false,
                                "className": " padding-no-btn"
                            }
                        }
                    ]
                },
                {
                    "label": "异常拨测点",
                    "type": "operation",
                    "id": "u:b31f11e22f6e",
                    "placeholder": "-",
                    "sortable": true,
                    "name": "abnormalPoint",
                    "buttons": [
                        {
                            "label": "<%= this.abnormalPoint %>",
                            "type": "button",
                            "level": "link",
                            "id": "u:249e22084c43",
                            "actionType": "dialog",
                            "dialog": {
                                "title": "异常拨测点",
                                "size": "lg",
                                "actions": [],
                                "body": [
                                    {
                                        "type": "table",
                                        "columns": [
                                            {
                                                "label": "功能点名称",
                                                "name": "functionName",
                                                "type": "text",
                                                "id": "u:5aafd42ea492",
                                                "placeholder": "-"
                                            },
                                            {
                                                "type": "text",
                                                "label": "所属业务名称",
                                                "name": "bussinessName",
                                                "id": "u:162c3e636078",
                                                "placeholder": "-"
                                            },
                                            {
                                                "type": "text",
                                                "label": "拨测点",
                                                "name": "dialingPoint",
                                                "id": "u:6335c455b5a8",
                                                "placeholder": "-"
                                            },
                                            {
                                                "type": "text",
                                                "label": "拨测类型",
                                                "name": "dialingType",
                                                "id": "u:4e4cc5438bf2",
                                                "placeholder": "-"
                                            },
                                            {
                                                "type": "text",
                                                "label": "拨测状态",
                                                "name": "dialingState",
                                                "id": "u:c4f4dd8e0027",
                                                "placeholder": "-",
                                                "classNameExpr": "<%= this.dialingState == '异常' ? 'text-danger' : this.dialingState == '正常'?'text-success' : '' %>"
                                            },
                                            {
                                                "type": "date",
                                                "label": "检测时间",
                                                "name": "dialingTime",
                                                "id": "u:f2c150986ecd",
                                                "placeholder": "-"
                                            }
                                        ],
                                        "id": "u:e8c0b6d67a6d",
                                        "data": {
                                            "count": 57,
                                            "items": [
                                                {
                                                    "bussinessName": "医保报销业务",
                                                    "dialingPoint": "内网拨测点1",
                                                    "dialingType": "HTTP",
                                                    "functionName": "HTTP查询",
                                                    "dialingState": "正常",
                                                    "dialingTime": "2023-07-26 12:12:13"
                                                },
                                                {
                                                    "bussinessName": "医保报销业务",
                                                    "dialingPoint": "内网拨测点2",
                                                    "dialingType": "HTTP",
                                                    "functionName": "HTTP查询",
                                                    "dialingState": "正常",
                                                    "dialingTime": "2023-07-26 12:12:13"
                                                },
                                                {
                                                    "bussinessName": "医保报销业务",
                                                    "dialingPoint": "内网拨测点3",
                                                    "dialingType": "TCP",
                                                    "functionName": "HTTP查询",
                                                    "dialingState": "异常",
                                                    "dialingTime": "2023-07-26 12:12:13"
                                                }
                                            ]
                                        },
                                        "hidden": false,
                                        "showHeader": false
                                    }
                                ],
                                "type": "dialog",
                                "id": "u:94a68330698e",
                                "showCloseButton": true,
                                "closeOnEsc": false,
                                "showErrorMsg": true,
                                "showLoading": true,
                                "dataMapSwitch": false,
                                "className": " padding-no-btn"
                            }
                        }
                    ],
                    "width": 180
                },
                {
                    "label": "操作",
                    "type": "operation",
                    "id": "u:c34a1d12e796",
                    "buttons": [
                        {
                            "label": "编辑",
                            "type": "button",
                            "level": "default",
                            "id": "u:f032b2bd5728"
                        },
                        {
                            "type": "button",
                            "label": "删除",
                            "actionType": "ajax",
                            "level": "default",
                            "className": "text-danger",
                            "confirmText": "确定要删除？",
                            "api": {
                                "method": "post",
                                "url": ""
                            },
                            "id": "u:04744d151b1f"
                        }
                    ],
                    "width": 250,
                    "fixed": "",
                    "className": "text-center"
                }
            ],
            "bulkActions": [
                {
                    "type": "button",
                    "level": "danger",
                    "label": "批量删除",
                    "actionType": "ajax",
                    "confirmText": "确定要删除？",
                    "api": "/xxx/batch-delete",
                    "size": "lg",
                    "id": "u:dbd537a8a9122224"
                }
            ],
            "itemActions": [],
            "features": [
                "create",
                "update",
                "view",
                "delete"
            ],
            "headerToolbar": [
                {
                    "type": "button",
                    "tpl": "内容",
                    "align": "left",
                    "label": "新增功能点",
                    "level": "primary",
                    "id": "u:d5c00cab1549",
                    "size": "lg",
                    "dialog": {
                        "type": "dialog",
                        "title": "新增功能点",
                        "body": [
                            {
                                "type": "form",
                                "body": [
                                    {
                                        "type": "input-text",
                                        "id": "u:809395ca51be",
                                        "name": "name",
                                        "label": "功能点名称"
                                    },
                                    {
                                        "type": "group",
                                        "id": "u:f559dcffc336",
                                        "body": [
                                            {
                                                "type": "select",
                                                "id": "u:d3a8c2261ef3",
                                                "label": "拨测类型",
                                                "name": "dialingType",
                                                "options": [
                                                    {
                                                        "label": "HTTP协议",
                                                        "value": "http"
                                                    },
                                                    {
                                                        "label": "TCP协议",
                                                        "value": "tcp"
                                                    },
                                                    {
                                                        "label": "脚本录制",
                                                        "value": "脚本录制"
                                                    }
                                                ],
                                                "multiple": false,
                                                "value": "http"
                                            },
                                            {
                                                "type": "select",
                                                "label": "周期",
                                                "name": "cycle",
                                                "multiple": false,
                                                "options": [
                                                    {
                                                        "label": "5分钟",
                                                        "value": "A"
                                                    },
                                                    {
                                                        "label": "10分钟",
                                                        "value": "B"
                                                    }
                                                ],
                                                "id": "u:8af3ba42bbd0",
                                                "size": "full",
                                                "className": "input-width"
                                            }
                                        ]
                                    },
                                    {
                                        "type": "container",
                                        "id": "u:93457be854ae",
                                        "body": [
                                            {
                                                "type": "container",
                                                "body": [
                                                    {
                                                        "type": "divider",
                                                        "id": "u:8f12ea59306c",
                                                        "className": "name-line"
                                                    },
                                                    {
                                                        "type": "tag",
                                                        "label": "API管理",
                                                        "id": "u:35d352ac764a",
                                                        "displayMode": "normal",
                                                        "style": {
                                                            "backgroundColor": "#ffffff",
                                                            "borderColor": "#ffffff"
                                                        },
                                                        "className": "name-line-check"
                                                    }
                                                ],
                                                "style": {
                                                    "position": "relative",
                                                    "display": "block"
                                                },
                                                "id": "u:c65c8783d574",
                                                "isFixedHeight": false,
                                                "isFixedWidth": false,
                                                "className": "relative"
                                            },
                                            {
                                                "label": "API类型",
                                                "type": "combo",
                                                "name": "type",
                                                "multiple": true,
                                                "value": [
                                                    {}
                                                ],
                                                "items": [
                                                    {
                                                        "type": "select",
                                                        "name": "apiType",
                                                        "options": [
                                                            {
                                                                "label": "GET",
                                                                "value": "get"
                                                            },
                                                            {
                                                                "label": "post",
                                                                "value": "post"
                                                            }
                                                        ],
                                                        "id": "u:d3a8c2261efdfs",
                                                        "multiple": false,
                                                        "className": "pad-none",
                                                        "value": ""
                                                    },
                                                    {
                                                        "type": "container",
                                                        "id": "u:7ef416658c6a",
                                                        "body": [
                                                            {
                                                                "id": "u:3be1d5b903b9",
                                                                "type": "input-text",
                                                                "label": "URL地址",
                                                                "name": "address",
                                                                "mode": "horizontal"
                                                            },
                                                            {
                                                                "type": "textarea",
                                                                "label": "请求头部",
                                                                "name": "head",
                                                                "id": "u:8199f0092e6c",
                                                                "mode": "horizontal",
                                                                "minRows": 3,
                                                                "maxRows": 20
                                                            },
                                                            {
                                                                "type": "textarea",
                                                                "label": "请求参数",
                                                                "name": "parameter",
                                                                "id": "u:8199f0092e6c",
                                                                "minRows": 3,
                                                                "maxRows": 20,
                                                                "mode": "horizontal"
                                                            },
                                                            {
                                                                "type": "combo",
                                                                "label": "结果判断",
                                                                "name": "check",
                                                                "id": "u:a0db2a5e41fd",
                                                                "mode": "horizontal",
                                                                "items": [
                                                                    {
                                                                        "name": "a",
                                                                        "type": "select",
                                                                        "id": "u:7c1853f10b74",
                                                                        "options": [
                                                                            {
                                                                                "label": "返回码",
                                                                                "value": "返回码"
                                                                            },
                                                                            {
                                                                                "label": "响应内容",
                                                                                "value": "响应内容"
                                                                            },
                                                                            {
                                                                                "label": "响应时间(ms)",
                                                                                "value": "响应时间(ms)"
                                                                            }
                                                                        ],
                                                                        "multiple": false
                                                                    },
                                                                    {
                                                                        "name": "b",
                                                                        "type": "select",
                                                                        "options": [
                                                                            {
                                                                                "label": "等于",
                                                                                "value": "等于"
                                                                            },
                                                                            {
                                                                                "label": "不等于",
                                                                                "value": "不等于"
                                                                            },
                                                                            {
                                                                                "label": "大于",
                                                                                "value": "大于"
                                                                            },
                                                                            {
                                                                                "label": "小于",
                                                                                "value": "小于"
                                                                            }
                                                                        ],
                                                                        "id": "u:d3af3ff036ab",
                                                                        "multiple": false
                                                                    },
                                                                    {
                                                                        "name": "a",
                                                                        "type": "input-text",
                                                                        "placeholder": "",
                                                                        "id": "u:21ea5db15a87"
                                                                    }
                                                                ],
                                                                "strictMode": true,
                                                                "syncFields": [],
                                                                "inputClassName": "no-margin"
                                                            }
                                                        ],
                                                        "style": {
                                                            "position": "static",
                                                            "display": "block",
                                                            "borderLeftStyle": "solid",
                                                            "borderTopStyle": "solid",
                                                            "borderRightStyle": "solid",
                                                            "borderBottomStyle": "solid",
                                                            "borderLeftWidth": 1,
                                                            "borderTopWidth": 1,
                                                            "borderRightWidth": 1,
                                                            "borderBottomWidth": 1,
                                                            "borderLeftColor": "#dedede",
                                                            "borderTopColor": "#dedede",
                                                            "borderRightColor": "#dedede",
                                                            "borderBottomColor": "#dedede",
                                                            "marginTop": "0",
                                                            "marginLeft": "0",
                                                            "marginBottom": "0",
                                                            "marginRight": "0",
                                                            "paddingTop": "20px",
                                                            "paddingLeft": "0",
                                                            "paddingRight": "0",
                                                            "paddingBottom": "20px"
                                                        },
                                                        "isFixedHeight": false,
                                                        "isFixedWidth": false,
                                                        "hiddenOn": "data.apiType === ''"
                                                    }
                                                ],
                                                "id": "u:031d2d8455fe",
                                                "strictMode": true,
                                                "syncFields": [],
                                                "multiLine": true,
                                                "noBorder": false
                                            }
                                        ],
                                        "style": {
                                            "position": "static",
                                            "display": "block"
                                        },
                                        "hiddenOn": "data.dialingType != 'http'"
                                    },
                                    {
                                        "type": "container",
                                        "id": "u:1716923926ae",
                                        "style": {
                                            "position": "static",
                                            "display": "block"
                                        },
                                        "body": [
                                            {
                                                "type": "input-text",
                                                "label": "主机IP",
                                                "name": "ip",
                                                "id": "u:634c84959e1f"
                                            },
                                            {
                                                "type": "input-text",
                                                "label": "端口",
                                                "name": "port",
                                                "id": "u:634c84959e1f"
                                            },
                                            {
                                                "type": "combo",
                                                "label": "结果判断",
                                                "name": "tcpCheck",
                                                "id": "u:2dbb400c9b2c",
                                                "mode": "horizontal",
                                                "items": [
                                                    {
                                                        "name": "state",
                                                        "type": "select",
                                                        "id": "u:6332ced34433",
                                                        "options": [
                                                            {
                                                                "label": "返回码",
                                                                "value": "返回码"
                                                            },
                                                            {
                                                                "label": "响应内容",
                                                                "value": "响应内容"
                                                            },
                                                            {
                                                                "label": "响应时间(ms)",
                                                                "value": "响应时间(ms)"
                                                            }
                                                        ],
                                                        "multiple": false,
                                                        "placeholder": ""
                                                    },
                                                    {
                                                        "name": "symbol",
                                                        "type": "select",
                                                        "options": [
                                                            {
                                                                "label": "等于",
                                                                "value": "等于"
                                                            },
                                                            {
                                                                "label": "不等于",
                                                                "value": "不等于"
                                                            },
                                                            {
                                                                "label": "大于",
                                                                "value": "大于"
                                                            },
                                                            {
                                                                "label": "小于",
                                                                "value": "小于"
                                                            }
                                                        ],
                                                        "id": "u:66d122f8dfa3",
                                                        "multiple": false
                                                    },
                                                    {
                                                        "name": "a",
                                                        "type": "input-text",
                                                        "placeholder": "",
                                                        "id": "u:59af3d2ab116"
                                                    }
                                                ],
                                                "strictMode": true,
                                                "syncFields": [],
                                                "inputClassName": "no-margin"
                                            }
                                        ],
                                        "hiddenOn": "data.dialingType != 'tcp'"
                                    },
                                    {
                                        "type": "container",
                                        "id": "u:1716923926ae",
                                        "body": [
                                            {
                                                "type": "input-file",
                                                "label": "脚本文件",
                                                "autoUpload": true,
                                                "proxy": true,
                                                "uploadType": "fileReceptor",
                                                "name": "file",
                                                "receiver": {
                                                    "url": "object-upload://default",
                                                    "method": "post"
                                                },
                                                "id": "u:aabdc326b996",
                                                "btnLabel": "导入",
                                                "multiple": false,
                                                "useChunk": false,
                                                "accept": "",
                                                "drag": false,
                                                "mode": "inline",
                                                "className": "javascript-upload"
                                            },
                                            {
                                                "type": "tooltip-wrapper",
                                                "id": "u:312dc4fa0912",
                                                "tooltip": "脚本录制教程请参考操作手册\n",
                                                "body": [
                                                    {
                                                        "type": "icon",
                                                        "id": "u:53e78f5155ef",
                                                        "icon": "question-circle"
                                                    }
                                                ],
                                                "enterable": true,
                                                "showArrow": true,
                                                "offset": [
                                                    0,
                                                    0
                                                ],
                                                "trigger": [
                                                    "hover"
                                                ],
                                                "mouseEnterDelay": 0,
                                                "mouseLeaveDelay": 0,
                                                "style": {
                                                    "display": "inline-block",
                                                    "margin-top": "9px"
                                                },
                                                "tooltipTheme": "dark"
                                            },
                                            {
                                                "type": "static",
                                                "label": "结果判断",
                                                "value": "准确完成重演 改成  准备完成脚本演练\n",
                                                "id": "u:5036b5a47542",
                                                "style": {
                                                    "color": "#28a745"
                                                },
                                                "labelClassName": "pt3"
                                            }
                                        ],
                                        "style": {
                                            "position": "static",
                                            "display": "block"
                                        },
                                        "hiddenOn": "data.dialingType != '脚本录制'"
                                    }
                                ],
                                "id": "u:dd9a0695f307",
                                "api": {
                                    "method": "post",
                                    "url": ""
                                }
                            }
                        ],
                        "id": "u:98c22bbd1b18",
                        "showCloseButton": true,
                        "closeOnEsc": false,
                        "showErrorMsg": true,
                        "showLoading": true,
                        "dataMapSwitch": false,
                        "size": "lg",
                        "actions": [
                            {
                                "type": "button",
                                "label": "确认",
                                "onEvent": {
                                    "click": {
                                        "actions": [
                                            {
                                                "args": {},
                                                "actionType": "closeDialog"
                                            }
                                        ]
                                    }
                                },
                                "id": "u:ae9357b32e44",
                                "close": true,
                                "level": "primary"
                            },
                            {
                                "type": "button",
                                "label": "取消",
                                "onEvent": {
                                    "click": {
                                        "actions": [
                                            {
                                                "args": {},
                                                "actionType": "closeDialog"
                                            }
                                        ]
                                    }
                                },
                                "id": "u:ae9357b32e44",
                                "close": true
                            }
                        ]
                    },
                    "actionType": "dialog"
                },
                {
                    "type": "columns-toggler",
                    "tpl": "内容",
                    "align": "right"
                },
                {
                    "type": "bulk-actions"
                },
                {
                    "type": "container",
                    "id": "u:5043443f5372",
                    "align": "right",
                    "body": [
                        {
                            "type": "input-text",
                            "name": "keywords",
                            "placeholder": "通过关键字搜索",
                            "addOn": {
                                "label": "搜索",
                                "type": "submit",
                                "id": "u:6c7f764351cf",
                                "level": "primary"
                            },
                            "id": "u:942efaec40e9",
                            "size": "lg"
                        }
                    ],
                    "style": {
                        "position": "static",
                        "display": "block",
                        "marginRight": "-19px"
                    },
                    "tpl": "内容",
                    "isFixedHeight": false,
                    "isFixedWidth": false
                }
            ],
            "data": {
                "items": [
                    {
                        "cycle": "5分钟",
                        "normalPoint": "10",
                        "abnormalPoint": "2",
                        "functionName": "Confulx端口",
                        "type": "TCP协议"
                    },
                    {
                        "normalPoint": "2",
                        "cycle": "1小时",
                        "abnormalPoint": "2",
                        "functionName": "Conlux首页",
                        "type": "脚本录制"
                    },
                    {
                        "cycle": "5分钟",
                        "normalPoint": "10",
                        "abnormalPoint": "2",
                        "functionName": "Confulx授权接口",
                        "type": "HTTP协议"
                    }
                ],
                "count": 3
            },
            "affixHeader": false,
            "perPageAvailable": [
                10
            ],
            "messages": {},
            "className": "table-margin",
            "alwaysShowPagination": true,
            "footerToolbar": [
                {
                    "type": "statistics"
                },
                {
                    "type": "pagination"
                },
                {
                    "type": "switch-per-page",
                    "tpl": "内容"
                }
            ]
        };
        amis.embed('#root', amisJSON)
    })();
</script>

</html>
